@import '../Shared/color.scss';
@import '../Shared/fonts.scss';
.body {
    background-color: $body;
    margin: $margin;
    font-size: $large;
}

.odd {
    background-color: $odd;
    padding: $padding;
    font-size: $extra-large;
}

.odd:hover {
    border: $odd-hover;
}